@model Contact;
@{
}
<div class="d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
        <img src="https://thispersondoesnotexist.com/" class="card-img-top" alt="random">
        <div class="card-body">
            <h5 class="card-title">@Model.Prenom @Model.Nom</h5>

            <p class="card-text">@Model.Telephone</p>
        </div>
    </div>
</div>